body {
  padding-top: 0;
}
.navbar {
    background-color: #4682b4!important;
}
.navbar-brand {
  color: #fff;
}
.navbar-brand:hover {
  color: #ccc;
}
.navbar-nav .nav-link {
  color: #fff;
}
.navbar-nav .nav-link:hover {
  color: #ccc;
}
.dropdown-header {
  background-color: #eee;
  padding: .15rem 1.5rem;
}

.btn-outline-success {
  color: #fff;
  border-color: #fff;
}
.btn-outline-success:hover {
  color: #4682b4;
  border-color: #fff;
  background-color: #ccc;
}

.jumbotron {
  margin-bottom: 20px;
  background-image: url(../img/d3.png);
  background-position: 0% 25%;
  background-size: cover;
  background-repeat: no-repeat;
  color: #333;
}
.jumbotron .container {
  background-color: #eaeaea;
  opacity: .9;
  border-radius: 4px;
  padding: 5px 10px;
}
.jumbotron .container h1 {
  font-size: 3em;
}

.btn {
  cursor: pointer;
}

a {
  color: #4682b4;
}

.gallery-text {
    height: 80px;
}

/* jQuery UI tabs */
.ui-widget button {
  font-size: .7em;
  float: left;
}
#tabs.ui-tabs {
  border: none;
  background: none;
}
.ui-tabs-vertical {
  width: 55em;
}
.ui-tabs-vertical .ui-tabs-nav {
  padding: .2em .1em .2em .2em;
  float: left;
  width: 12em;
  border: none;
  background: none;
  margin-top: 20px;
}
.ui-tabs-vertical .ui-tabs-nav li {
  clear: left;
  width: 100%;
  border-bottom-width: 1px !important;
  border-right-width: 0 !important;
  margin: 0 -1px .2em 0;
  border: none;
  background: none;
  margin-bottom: 1em;
}
.ui-tabs-vertical .ui-tabs-nav li a {
  display:block;
}
.ui-tabs-vertical .ui-tabs-nav li.ui-tabs-active {
  padding-bottom: 0;
  padding-right: .1em;
  border-right-width: 1px;
  margin-bottom: 1em;
}
.ui-tabs-vertical .ui-tabs-panel {
  padding: 1em;
  float: left;
  width: 40em;
  margin-left: 25px;
}
.ui-tabs-vertical  .ui-tabs-nav .ui-tabs-anchor {
  color: #fff;
  font-size: .7em;
  border: 2px solid #2f587a;
  border-radius: 4px;
  background-color: #4682b4;
  opacity: .8;
  /*color: #fafafa;
  font-size: .7em;
  border: none;*/
}
.ui-tabs-vertical .ui-tabs-nav .ui-tabs-anchor:focus {
  /*outline: none;*/
}
.ui-tabs-vertical .ui-tabs-nav .ui-state-hover .ui-tabs-anchor,
.ui-tabs-vertical .ui-tabs-nav .ui-state-active .ui-tabs-anchor,
.ui-tabs-vertical .ui-tabs-nav .ui-state-focus .ui-tabs-anchor {
  background-color: #4682b4;
  color: #fff;
  /*border: 2px solid #999;*/
  opacity: 1;
}
.ui-tabs-collapsible {

}
.ui-tabs-tab {

}
.ui-tabs .ui-tabs-nav li {

}
.ui-tabs .ui-tabs-nav li.ui-tabs-active {

}
.ui-tabs-active {

}
.ui-tabs-panel {

}

.back-button {
    margin-left: 10px;
    margin-top: 25px;
}

#mapVideo {
  height: 500px;
  width: auto;
  background-color: #dadada;
  border-radius: 4px;
  padding: 8px;
}

#mapVideo video {
  height: 100%;
  width: auto;
}
