#treeMap .cell text {
  font-size: 9px;
  fill: #444;
  stroke: none;
  font-family: sans-serif;
}

#treeGraph .node circle {
  cursor: pointer;
  fill: #fff;
  stroke: teal;
  stroke-width: 1px;
}

#treeGraph .node text {
  font-size: 9px;
  fill: teal;
  stroke: none;
  font-family: sans-serif;
}

#treeGraph path.link {
  fill: none;
  stroke: pink;
  stroke-width: 1.5px;
}
